/* css: main.css */

/* 
Color of the background of the website
*/
body {
  background-color: #DDDDDD;
}



/*
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
*/


div.csBorder {
  border-radius: 5px;
  border-style: solid;
  border-color: gray;
  border-width: thin;
}

span.csAnnotation {
  color: green;
  font-size: 10px;
}
span.csRed {
  color: red;
}
span.csKey {
  color: red;
  font-weight: bold;
}
span.csKeyDesc {
  color: slategray;
  font-style: italic;
  font-size: small
}



