/* css: menu-and-toc.css */

/*
aside-Element
*/
aside {
    width: 20%;
    padding: 0%;
    background-color: #DDDDDD;
  }
  
aside.menu {
    float: left;
    margin-right: 1%;
  }
  
aside.toc {
    float: right;
    margin-left: 1%; 
  }

/*
Menu <MenÜ>
*/  
div.menu {
  background-color: #CCCCCC;
  margin-top: 0.6em; 
  margin-bottom: 0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  }

div.menu-title {
  padding-bottom: 0.1em;
  }

div.menu-content {
  margin-bottom: 0.6em;
  }

/*
Table of Content <Seiteninhalt>
*/
div.toc {
  background-color: #CCCCCC;
  margin-top: 0.6em; 
  margin-bottom: 0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  }

div.toc-title {
  padding-bottom: 0.1em;
  }

div.toc-content {
  margin-bottom: 0.6em;
  }
