<!-- partial all-pages.html -->

<div class="list">

    <!-- 1. Ebene -->
    {{ range .Pages }}
    <section class="list-item">
        <b><a style="text-decoration: none" href="{{ .RelPermalink }}">{{ .Title }}</a></b>
        <!--
        <span class="csKeyDesc">{{ .Params.subtitle }}</span>
        -->

        <!-- 2. Ebene -->
        {{- range .Pages -}}
        <section class="list-item"></section>
            &nbsp;
            <a style="text-decoration: none" href="{{ .RelPermalink }}">{{ .Title }}</a>
            &nbsp;
            <!--
            <span class="csKeyDesc">{{ .Params.subtitle }}</span>
            -->
            
            <!-- 3. Ebene -->
            {{- range .Pages -}}
            <section class="list-item"></section>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a style="text-decoration: none" href="{{ .RelPermalink }}">{{ .Title }}</a> 
                &nbsp;
                <!--
                <span class="csKeyDesc">{{ .Params.subtitle }}</span>
                -->
                
                <!-- 5. Ebene -->
                {{- range .Pages -}}
                <section class="list-item"></section>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="text-decoration: none" href="{{ .RelPermalink }}">{{ .Title }}</a> 
                    &nbsp;
                    <!--
                    <span class="csKeyDesc">{{ .Params.subtitle }}</span>
                    -->

                    <!-- 6. Ebene -->
                    {{- range .Pages -}}
                    <section class="list-item"></section>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="text-decoration: none" href="{{ .RelPermalink }}">{{ .Title }}</a> 
                        &nbsp;
                        <!--
                        <span class="csKeyDesc">{{ .Params.subtitle }}</span>
                        -->
                    </section> 
                    {{- end -}}

                </section> 
                {{- end -}}
                
            </section>   
            {{- end -}}
            <br>

        </section>
        {{- end -}}
        <br>
              
    </section>
    {{ end }}

</div>

