<!-- baseof.html -->

<!doctype html>

<html lang="de">
  <head>
    {{- partial "head" . -}}
  </head>
  <body>
    
    <!-- Header -->
    <header>
      {{- partial "header" . -}}
    </header>

    <!-- Content -->
    <main class="mt-5 pt-5 mb-5 pb-2">

      <span class="csKey">  layout: baseof.html</span>

      <!-- mt-5 pt-5 is for fixed header -->
      {{- block "main" . }}{{- end }}
    </main>

    <!-- Footer -->
    <footer>
      {{- partial "footer" . -}}
    </footer>

    <!--
    {{- partial "script-footer" . -}}
    -->

  </body>
</html>

<!--
/Users/test/Documents/Programmierung/Github/einfuehrung-in-swift-und-swiftui/content/_index.md
content/_index.md

/Users/test/Documents/Programmierung/Github/einfuehrung-in-swift-und-swiftui/content/site/about.md
content/site/about.md
-->