<!-- footer -->

<div class="fixed-bottom ">
<div class="csBorder">
<div class="container-fluid rounded bg-warning">
<div class="px-2 pt-1 pb-1">
    
    <div class="row">
        <div class="col">
            
            <span class="text-primary fs-6">

                <!-- Divide footer in three areas (left, middle, right) -->
                <div class="d-flex justify-content-between">

                    <!-- links -->
                    <div class="col-example">
                        <a href={{ absURL "site/copyright" }}>&copy;2023 by volker</a>
                    </div>

                    <!--- mitte -->
                    <div class="col-example"></div>

                    <!-- rechts -->
                    <div class="col-example">
                        <a href={{ absURL "site/about" }}>über</a>
                        <a href={{ absURL "site/contact" }}>kontakt</a>
                        <a href={{ absURL "site/impressum" }}>impressum</a>
                    </div>

                </div>

            </span>

        </div>
    </div>
</div>
</div>
</div>
</div>