<!-- partial footer.html -->

<!-- Fixed footer -->
{{ if .Site.Params.fixedFooter }}
    <div class="fixed-bottom">
{{ else }}
    <div>
{{ end }}

<div class="csBorder">
<div class="container-fluid rounded bg-warning">
<div class="px-2 pt-1 pb-1">
    
    <div class="row">
        <div class="col">
            
            <span class="text-primary fs-6">

                <!-- Divide footer in three areas (left, middle, right) -->
                <div class="d-flex justify-content-between">

                    <!-- links -->
                    <div class="col-example">
                        <a style="text-decoration: none" href={{ absURL "site/copyright.html" }}>&copy;2023 by volker</a>
                    </div>

                    <!--- mitte -->
                    <div class="col-example"></div>

                    <!-- rechts -->
                    <div class="col-example">
                        <a style="text-decoration: none" href={{ absURL "site/about.html" }}>über</a>
                        <a style="text-decoration: none" href={{ absURL "site/contact.html" }}>kontakt</a>
                        <a style="text-decoration: none" href={{ absURL "site/impressum.html" }}>impressum</a>
                        <a style="text-decoration: none" href={{ absURL "admin.html" }}>admin</a>
                    </div>

                </div>

            </span>

        </div>
    </div>
</div>
</div>
</div>
</div>