<!-- footer -->

<div class="container-fluid bg-warning pt-2 px-2">
    <div class="row">
        <div class="col">
            
            <!-- Copyright -->
            <span class="text-primary fs-6">

                <div class="d-flex justify-content-between">

                    <!-- links Copyright -->
                    <div class="col-example">
                        <!-- Copyright -->
                        &copy;2023 by volker
                    </div>

                    <!--- mitte -->
                    <div class="col-example"></div>

                    <!-- rechts Impressum -->
                    <div class="col-example">
                        <!-- Impressum -->
                        <a href={{ absURL "site/about" }}>über</a>
                        <a href={{ absURL "site/contact" }}>kontakt</a>
                        <a href={{ absURL "site/impressum" }}>impressum</a>
                    </div>

                </div>

            </span>

            <!-- Sprungmarke -->
            <h3 id="bottom"></h3>

        </div>
    </div>
</div>
