<!-- header -->

<!-- bg-Color: https://getbootstrap.com/docs/5.0/utilities/background/#background-color -->
<!-- text-Color: https://getbootstrap.com/docs/5.0/utilities/colors/#colors -->

<div class="container-fluid bg-warning p-2 ">
    <div class="row">
        <!-- Padding p-2 -->
        <div class="col">
            <span class="h2 text-primary">

                <!-- Title -->
                {{ .Site.Params.headerTitle }}

                <br>

                <!-- Buttons -->
                <a class="btn btn-primary btn-sm" 
                   href="/einfuehrung-in-swift-und-swiftui/" 
                   role="button">
                   Home
                </a>
                <a class="btn btn-primary btn-sm" 
                   href="/einfuehrung-in-swift-und-swiftui/about" 
                   role="button">
                   Über mich
                </a>
                <a class="btn btn-primary btn-sm" 
                   href="/einfuehrung-in-swift-und-swiftui/contact" 
                   role="button">
                   Kontakt
                </a>
                <a class="btn btn-primary btn-sm" 
                   href="/einfuehrung-in-swift-und-swiftui/pages/links/apple" 
                   role="button">
                   Links Apple 
                </a>
                <a class="btn btn-primary btn-sm" 
                   href="/einfuehrung-in-swift-und-swiftui/pages/links/english" 
                   role="button">
                   Links EN 
                </a>
                <a class="btn btn-primary btn-sm" 
                   href="/einfuehrung-in-swift-und-swiftui/pages/links/german" 
                   role="button">
                   Links DE
                </a>
                <a class="btn btn-primary btn-sm" 
                   href="/einfuehrung-in-swift-und-swiftui/pages/links/stanford" 
                   role="button">
                   Links Stanford 
                   </a>

            </span>
        </div>
    </div>
</div>