<!-- header -->

<!-- bg-Color: https://getbootstrap.com/docs/5.0/utilities/background/#background-color -->
<!-- text-Color: https://getbootstrap.com/docs/5.0/utilities/colors/#colors -->

<div class="fixed-top csBorder">
<div class="container-fluid rounded bg-warning px-2 pb-2 ">
    <!-- position-sticky -->
    <div class="row">
        <div class="col">

            <span class="h2 text-primary">

                <!-- Title -->
                {{ .Site.Params.headerTitle }}

                <br>

                <!-- Buttons -->
                <div class="d-flex justify-content-between">

                    <!-- links Navigation -->
                    <div class="col-example">
                        <a class="btn btn-primary btn-sm" href="{{ .Site.BaseURL }}" role="button">
                            home
                        </a>
                        <a class="btn btn-primary btn-sm" href="{{ if .PrevInSection }}{{ .PrevInSection.Permalink }}{{ end }}" role="button">
                            zurück
                        </a>
                        <a class="btn btn-primary btn-sm" href="{{ if .Parent }}{{ .Parent.Permalink }}{{ end }}" role="button">
                            hoch
                        </a>
                        <a class="btn btn-primary btn-sm" href="{{ if .NextInSection }}{{ .NextInSection.Permalink }}{{ end }}" role="button">
                            vor
                        </a>
                        {{ partial "show/link" . }}

                        <!--
                        {{ partial "show/wordcount" . }}
                        {{ partial "show/readingtime" . }}
                        {{ partial "show/weight" . }}
                        -->
                        
                    </div>

                    <!--- mitte -->
                    <div class="col-example"></div>

                    <!-- rechts -->
                    <div class="col-example"></div>

                </div>

            </span>

        </div>
    </div>
</div>
</div>