<!-- partial info.html -->

<div>
    <strong>Info über die Seite ... </strong> <br>  
    Type:      {{ .Page.Type }} <br>
    PublishDate:      {{ .Page.PublishDate }} <br>
    RawContent:      {{ .Page.RawContent }} <br>
    ReadingTime:      {{ .Page.ReadingTime }} <br>
    Resources:      {{ .Page.Resources }} <br>
    Ref: FEHLER <br>
    RelPermalink:      {{ .Page.RelPermalink }} <br>
    RelRef: FEHLER <br>
    Site:      {{ .Page.Site }} <br>
    Sites:      {{ .Page.Sites }} <br>
    Sites.First:      {{ .Page.Sites.First }} <br>
    Summary:      {{ .Page.Summary }} <br>
    TableOfContents:      {{ .Page.TableOfContents }} <br>
    Title:      {{ .Page.Title }} <br>
    Translations:      {{ .Page.Translations }} <br>
    TranslationKey:      {{ .Page.TranslationKey }} <br>
    Truncated:      {{ .Page.Truncated }} <br>
    Type:      {{ .Page.Type }} <br>
    Weight:    {{ .Page.Weight }} <br>
    WordCount: {{ .Page.WordCount }} <br>
</div>

