<!-- partial info.html -->

<div>
    <strong>Info über die Seite ... </strong> <br>  
    AlternativeOutputFormats: {{ .Page.AlternativeOutputFormats }} <br>
    Aliases:                  {{ .Page.Aliases }} <br>
    Ancestors:                {{ .Page.Ancestors }} <br>
    BundleType:               {{ .Page.BundleType }} <br>
    Content:                  {{ .Page.Content }} <br>
    Data:                     {{ .Page.Data }} <br>
    Date:                     {{ .Page.Date }} <br>
    Description:              {{ .Page.Description }} <br>
    Draft:                    {{ .Page.Draft }} <br>
    ExpiryDate:               {{ .Page.ExpiryDate }} <br>
    File:                     {{ .Page.File }} <br>
    Fragments:                {{ .Page.Fragments }} <br>
    FuzzyWordCount:           {{ .Page.FuzzyWordCount }} <br>
    IsHome:                   {{ .Page.IsHome }} <br>
    IsNode:                   {{ .Page.IsNode }} <br>
    IsPage:                   {{ .Page.IsPage }} <br>
    IsSection:                {{ .Page.IsSection }} <br>
    IsTranslated:             {{ .Page.IsTranslated }} <br>
    Keywords:                 {{ .Page.Keywords }} <br>
    Kind:                     {{ .Page.Kind }} <br>
    Language:                 {{ .Page.Language }} <br>
    Lastmod:                  {{ .Page.Lastmod }} <br>
    LinkTitle:                {{ .Page.LinkTitle }} <br>
    Next:                     {{ .Page.Next }} <br>
    NextInSection:            {{ .Page.NextInSection }} <br>
    OutputFormats:            {{ .Page.OutputFormats }} <br>
    Pages:                    {{ .Page.Pages }} <br>
    Permalink:                {{ .Page.Permalink }} <br>
    Plain:                    {{ .Page.Plain }} <br>
    PlainWords:               {{ .Page.Type }} <br>
    Prev:                     {{ .Page.Prev }} <br>
    PrevInSection:            {{ .Page.PrevInSection }} <br>
    PublishDate:              {{ .Page.PublishDate }} <br>
    RawContent:               {{ .Page.RawContent }} <br>
    ReadingTime:              {{ .Page.ReadingTime }} <br>
    Resources:                {{ .Page.Resources }} <br>
    Ref:                      FEHLER <br>
    RelPermalink:             {{ .Page.RelPermalink }} <br>
    RelRef:                   FEHLER <br>
    Site:                     {{ .Page.Site }} <br>
    Sites:                    {{ .Page.Sites }} <br>
    Sites.First:              {{ .Page.Sites.First }} <br>
    Summary:                  {{ .Page.Summary }} <br>
    TableOfContents:          {{ .Page.TableOfContents }} <br>
    Title:                    {{ .Page.Title }} <br>
    Translations:             {{ .Page.Translations }} <br>
    TranslationKey:           {{ .Page.TranslationKey }} <br>
    Truncated:                {{ .Page.Truncated }} <br>
    Type:                     {{ .Page.Type }} <br>
    Weight:                   {{ .Page.Weight }} <br>
    WordCount:                {{ .Page.WordCount }} <br>
</div>

