<!-- partial fixed-header-fixed-footer.html -->

<!-- Used in baseof.html -->

{{ with .Site.Params.Layout }}

    <!-- fixed header, fixed footer -->
    {{ if .fixedHeader }} 
    {{ if .fixedFooter }}
        <main class="mt-5 pt-5 mb-5 pb-2" >
    {{ end }}
    {{ end }}

    <!-- header, fixed footer -->
    {{ if not .fixedHeader }} 
    {{ if .fixedFooter }}
        <main class="mt-0 pt-2 mb-5 pb-2">
    {{ end }}
    {{ end }}

    <!-- fixed header, footer -->
    {{ if .fixedHeader }} 
    {{ if not .fixedFooter }}
        <main class="mt-5 pt-5 mb-0 pb-2">
    {{ end }}
    {{ end }}

    <!-- header, footer -->
    {{ if not .fixedHeader }}
    {{ if not .fixedFooter }}
        <main class="mt-0 pt-2 mb-0 pb-2">
    {{ end }}
    {{ end }}

{{ end }}